.main {
    display: flex;
    width: 100%;
    min-height: 900px;
    justify-content: center;
    align-items: center;
    background-image: url('../images/buraco_negro.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}